.body{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    padding: 1rem;
    width: 800px;
    border-radius: 12px;
    display: block;
    justify-content: flex-start;
    overflow: hidden;
    margin-top: 2.5rem;
    /* box-shadow: 0 2px 8px 0  #D3DDE5; */
    border: 1px solid #D3DDE5;
}
