.dropdown{
    display: none;
}
 
.dropdown_show{
    position:absolute;
  top:58px;
  width: 300px;
  transform: translateX(-45%);
  background: #fff;
  border: var(--border);
  border-radius: 5px;
  padding: 1rem;
  overflow: hidden;
}

.menu_items{
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background var(--speed);
    padding: 0.5rem;
}