.grid_display{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 50%);
}

@media screen and (max-width: 600px) {
    .grid_display{
        grid-template-columns: repeat(1, 100%);
    }
}

/* .row{
    display: flex;
    justify-content: center;
    align-items: center;
} */