.row{
    margin-left: 5px;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center
}

.align_right{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.text_wrapper{
    line-height: auto;
    font-weight: 500;
    font-size: 1.3rem;
    color: #27313B;
}

.comment_box{
    gap: 10px;
    margin-top: 1rem;
    padding: 5px;
    width: 100%;
    height: auto;
    line-height: auto;
    border: 1px solid #AFABA4;
    border-radius: 5px;
    display: block;
    align-items: center;
}

.circle{
    height:40px;
    width: 40px;
    border-radius: 40px;
}