
.form{
    background: var(--color-white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 3.5rem 2rem 4.375rem 2rem;
    max-width: 64rem;
    width: 100%;
}

.container{
    height: 100vh;
}

