.container{
    display: grid;
    margin-top: 16px;
    width: 100%;
    border: 1px solid black;
    grid-template-columns: repeat(4, 1fr);
}
.input{
    border:none;
}

.input:focus{
    outline: none;
    border:none;
}

.tags{
  display:flex;
  width: 30px;
}

.btn{
    outline: none;
    border: none;
    color: red;
    background: #F2F6FA;
}

.btn:hover{
    cursor: pointer;
}