.container{
    display: grid;
    justify-content: center;
    align-items: center;
}

.content_center{
    margin-top: 60px;
    margin-bottom: 30px;
    width: 1000px;
    box-shadow: 0px 0px 1px 0px #2e2c30;
    border-radius: 5px;
    background: #fff;
}

.grid_display{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    gap: 8px;
}

.img_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
   
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.text_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
     align-items: center;
     padding: 5px;
    gap: 8px; 
}

.social_link_wrapper{
    display: flex;
    justify-content: flex-start;
    gap: 2px;
}

.link{
    color: black;
}

.link:hover{
    color: grey;
    cursor: pointer;
}

.info_wrapper{
    justify-content: flex-start;
    height: auto;
    width: auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px #2e2c30;
}

.action_btn{
    padding: 4px;
    display: flex;
    justify-content: flex-end;
}

.action_btn:hover{
    cursor: pointer;
}

.dropdown{
    display: none;
}

.dropdown_show{
    position:absolute;
    width: 100px;
    transform: translateX(-80%);
    background: #fff;
    border: var(--border);
    border-radius: 5px;
    padding: 1rem;
    overflow: hidden;
    border: 1px solid #8B8C83;
    z-index: 999;
  }