.grid{
    display: grid;
    place-items: center;
    width: auto;
    grid-template-columns: repeat(2, 100%);
    grid-template-areas: 'profile' 'grid2';
    gap: 6px;
}

.container{
    justify-content: center;
    place-items: center;
}



.profile{
    grid-area: profile;
}

.activity{
    grid-area: activity;
}

.recentActivity{
    grid-area: recentAct;
}

.content_center{
    margin-top: 60px;
    margin-bottom: 30px;
    width: auto;
    box-shadow: 0px 0px 1px 0px #2e2c30;
    border-radius: 5px;
    background: #fff;
}

.grid_display{
    display: grid;
    grid-area: grid2;
    grid-template-columns: 0.4fr 1fr;
    grid-template-areas: 'activity recentAct';
    /* gap: 8px; */
}

@media screen and (max-width: 700px) {
    .grid_display{
        grid-template-columns: repeat(2, 100%);
        grid-template-areas: 'activity' 'recentAct';
        /* gap: 8px; */
    }
}

.img_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
   
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.text_center{
    line-height: auto;
    padding: 3px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.link_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
     align-items: center;
     padding: 5px;
    gap: 8px; 
}

.social_link_wrapper{
    display: flex;
    justify-content: flex-start;
    gap: 2px;
}

.link{
    color: black;
}

.link:hover{
    color: grey;
    cursor: pointer;
}

.info_wrapper{
    justify-content: flex-start;
    height: auto;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px #2e2c30;
}

.action_btn{
    padding: 4px;
    display: flex;
    justify-content: flex-end;
}

.action_btn:hover{
    cursor: pointer;
}

.dropdown{
    display: none;
}

.dropdown_show{
    position:absolute;
    width: 100px;
    transform: translateX(-80%);
    background: #fff;
    border: var(--border);
    border-radius: 5px;
    padding: 1rem;
    overflow: hidden;
    border: 1px solid #8B8C83;
    z-index: 999;
  }