.container{
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.grid_tags{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.tags_card{
    background: #fff;
    padding: 1rem;
    line-height: auto;
    width: 300px;
    border-radius: 8px;
    height: 100px;
    border-top: 10px solid #019A66;
}
