.form{
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: 500;
  align-items: center;
  padding: 3.5rem 2rem 4.375rem 2rem;
  max-width: 64rem;
  width: 100%;
}

.form_container{
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}


input{
    width: 50%;
    padding: 0.5rem;
    margin-top: 16px;
}

.form_btn{
    width: 100%;
    padding: 1rem;
    background: #0D0E0B;
    border: none;
    color: #fff;
    margin-top: 16px;
}

.form_btn:hover{
    cursor: pointer;
    background: #383934;
    color: #fff;
}

.text_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: auto;
    font-size: 17px;
}