.circle{
    height: 40px;
    width: 40px;
    border-radius: 40px;
}

.text_wrapper{
    line-height: auto;
    color: #323232;
    padding: 4px;
}

.link{
    color: black;
}

.link:hover{
    text-decoration: none;
    cursor: pointer;
    color: grey;
}

.card{
    height: auto;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 1px 0px #2e2c30;
    border-radius: 4px;
    margin-top: 10px;
}

.row{
    display: flex;
    align-items: center;
    gap: 10px;
}

.align_item{
    margin-left: 35px;
}
.date{
 font-size: 13px;
 color: grey   
}

.text_comment{
    color: black;
}
.align_right{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}
.dropdown{
    display: none;
}
.dropdown_show{
  position:absolute;
  width: 100px;
  transform: translateX(-80%);
  background: #fff;
  border: var(--border);
  border-radius: 5px;
  padding: 1rem;
  overflow: hidden;
  border: 1px solid #8B8C83;
  z-index: 999;
}

.toggle_setting:hover{
    cursor:pointer;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid black;
}

.toggle_setting:focus{
    cursor:pointer;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid black;
}

.tag_link:hover{
    background: #e5e5e5;
    cursor: pointer;
}