.btn:hover{
    padding: 0.8rem;
    background: #3489eb;
    width: 100px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn{
    background: #fff;
    color : #3489eb;
    border: 2px solid #3489eb;
    width: 100px;
    padding: 0.8rem;
    border-radius: 5px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.btn_wrapper{
    height: 50px;
    width: 50px;
}

.btn_wrapper:hover{
    width: 100%;
    border-radius: 10px;
    background: #fff;
}

.icon_wrapper{
    height: 20px;
    width: 20px;
}

.text_wrapper{
    line-height: auto;
}