.container{
    display: grid;
    margin-top: 16px;
    width: 100%;
    height: auto;
    border: 1px solid black;
    grid-template-columns: repeat(1, auto);
    background: #fff;
}
.input{
    border:none;
}

.grid_tags{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

@media screen and (max-width: 500px) {
    .grid_tags{
        grid-template-columns: repeat(2, 0.5fr);
    }
}

.input:focus{
    outline: none;
    border:none;
}

.tags{
  display:flex;
  background: #4E4E49;
  color: #fff;
  height: 30px;
  width: 100px;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  padding: 16px;
  line-height: auto;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}

.btn{
    outline: none;
    border: none;
    color: red;
    background: #4E4E49;
}

.btn:hover{
    cursor: pointer;
}