.grid{
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr;
  grid-template-areas: 'sb ps ts';
}

/* .container{
  height: 100%;
} */

.sidebar{
    /* width: 10vw; */
    grid-area: sb;
}

.post_section{
    /* width: 50vw; */
    grid-area: ps;
}

.tag_section{
  /* width: auto; */
  grid-area: ts;
}