.container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error_content{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
    height: 100px;
    width: 50%;
}