/* .container{
} */
.box{
    margin-top: 10px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    /* padding: 1rem; */
}

.container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: auto;
    width: 100%;
    background: white;
    border: 1px solid white;
    border-radius: 10px;
}

@media screen and (max-width: 700px) {
    .container{
        height: auto;
        width: auto;
        border-radius: 0;
    }
}

.txt_wrapper{
    line-height: auto;
    justify-content: center;
    padding: 1rem;
}

p{
    color: grey;
}
.sidebar{
    /* display: flex;
    flex-direction: row; */
    gap: 4px;
    font-size: 0.9rem;
    color: #464646;
}

.sidebar a{
    text-decoration: none;
}


.sidebar:hover{
    background: #bfefff;
    border-radius: 10px;
    text-decoration:  underline;
    cursor: pointer;
}
.img{
    width: 60px;
    padding: 1rem;
}

.row{
    display: flex;
    align-items: center;
}

/* .sidebar{
    width: 50%;
    height: auto;
}

.sidebar_active{
    left: 0;
    transition: 890ms;
} */